*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 16px;
   /* background-color: lightgray;*/
    height: 100vh;
}


.box {
  /*  flex:1;*/
    width: 200px;
    height: 200px;
    background-color: lightblue;
}
.container :nth-child(even) {
    background-color: lightgreen;
}